<div id="ct_trip_start_container">
  <figure class="logo">
    <img src="../../assets/logo.png" alt="天賦時光機" draggable="false" />
    <div class="clocks">
      <div class="rocket">
        <img class="rocket_img" src="../../assets/rocket.png" alt="火箭" draggable="false" />
        <img class="rocket_fire" src="../../assets/rocket_fire.png" alt="火箭" draggable="false" />
      </div>
      <div v-for="n in 3" class="clock" :style="{backgroundPosition: `${(n - 1) * -500}px 0px`}"></div>
      <div class="numbers">
        <div v-for="n in 12" class="number">
          <span :style="{backgroundPosition: `${(n - 1) * -50}px 0px`}"></span>
        </div>
      </div>
    </div>
  </figure>
</div>